{% extends 'layouts.html' %}


{% block content %}
{% include '_messages.html' %}

<div class="container">
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 p-2">
        <h2 class="text-center bg-primary p-2 text-light">Adicionar Produtos</h2>
        {% from "_formularioajuda.html" import render_field %}
        <form class="text-light" action="" method="post" enctype="multipart/form-data">
           
            {{ render_field(form.name, class="form-control", placeholder="Nome do produto") }}
            {{ render_field(form.price, class="form-control", placeholder="Preco do produto") }}
            {{ render_field(form.discount, class="form-control", placeholder="Desconto do produto") }}
            {{ render_field(form.stock, class="form-control", placeholder="Estoque do produto") }}

            <label form="marca" class="text-light">Adicionar uma marca</label>
            <select name="marca" id="marca" class="form-control" required>
                <option value="">Selecione uma marca</option>
                {% for marca in marcas %}
                <option value="{{marca.id}}">{{marca.name}}</option>
                {% endfor %}
            </select>

            <label form="categoria" class="text-light">Adicionar uma categoria</label>
            <select name="categoria" id="categoria" class="form-control" required>
                <option value="">Selecione uma categoria</option>
                {% for categoria in categorias %}
                <option value="{{categoria.id}}">{{categoria.name}}</option>
                {% endfor %}
            </select>

            {{ render_field(form.colors, class="form-control", placeholder="Cor do produto") }}
            {{ render_field(form.discription, class="form-control", placeholder="Descricao do produto", rows="10") }}
            <div class="container">
                <div class="row">
                    <div class="col-md-4">{{ render_field(form.image_1, class="form-control, required") }}</div>
                    <div class="col-md-4">{{ render_field(form.image_2, class="form-control, required") }}</div>
                    <div class="col-md-4">{{ render_field(form.image_3, class="form-control, required") }}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-success mt-2" >Cadastrar</button>
         


        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</div>


{% endblock content %}