{% extends 'layouts.html' %}

{% block content %}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-7" id="m_image">
            <img src="{{url_for('static', filename='images/' + produto.image_1)}}" class="mw-100" alt="Max-width 100%" height="400">
        </div>

    <div class="col-md-5 text-light">
        <h4>Nome do produto: {{produto.name}}</h4>
        <br>
        <p> Preço do Produto R$  {{produto.price}}</p>
        {% if produto.discount > 0 %}
        <b> Desconto do Produto : {{produto.discount}} % </b>
        {% endif %}  
        <hr class="text-light">  
        <b>Descricao do produto</b>
        <p>   {{produto.desc}}</p>
        <hr class="text-light">
        <form action="{{url_for('addCart')}}" method="post">
            <input type="hidden" name="produto_id" value="{{produto.id}}">
            <button type="submit" class="btn btn-sm btn-warning m-2"> Adicionar produto ao carrinho</button>
            <label for="">Quantidade :</label>
            <input type="number" name="quantity" id="" value="1" min="1" max="{{produto.stock}}">
            {% set colors = produto.colors.split(',') %}
            <label class="m-2"for="colors">Cor do Produto :</label>
            <select name="colors" id="">
                {% for color in colors %}
                {% set col = color.split(':') %}
                <option value="{{col[0]}}">{{col[0]|capitalize}}</option>
                {% endfor %}
            </select>

        </form>
    </div>
</div>
    <hr class="text-light">
    <div class="row">
        <div class="col-md-12 mt-1" id="s_image">
            <img src="{{url_for('static', filename='images/' + produto.image_1)}}" alt="{{produto.name}}"  height="150" >
            <img src="{{url_for('static', filename='images/' + produto.image_2)}}" alt="{{produto.name}}"  height="150" >
            <img src="{{url_for('static', filename='images/' + produto.image_3)}}" alt="{{produto.name}}"  height="150" >
        </div>
        </div>
    </div>
</div>


<script>
    var m_image = document.getElementById('m_image');
    var s_image = document.getElementById('s_image').getElementsByTagName('img');

    for(var i = 0; i < s_image.length; i++){
        s_image[i].addEventListener('click', full_image);
    }

    function full_image(){
        var ImageSRC = this.getAttribute('src');
        m_image.innerHTML = "<img src=" + ImageSRC + " class='mw-100' alt='Max-width 100%' height='400'>";
    }
</script>



{% endblock content %}