{% extends "layouts.html" %}

{% block content %}

{% include '_messages.html' %}

<div class="container mt-3 ">

    <table class="table table-dark table-hover align-middle">
        <thead>
            <th>Serial</th>
            <th>Produto</th>
            <th>Preco</th>
            <th>Desconto</th>
            <th>Fabricante</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Deletar</th>
            
        </thead>
        
        <tbody> 
          
           {% for produto in produtos %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{produto.name}}</td>
                <td>{{produto.price}}</td>
                <td>{{produto.discount}} % </td>
                <td>{{produto.marca.name}}</td>
                <td><img src="{{url_for('static', filename='images/' + produto.image_1)}}" width="80" height="60"></td>
                <td><a href="{{url_for('updateproduto', id=produto.id)}}" class="btn btn-sm btn-outline-warning">Editar</a></td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal-{{produto.id}}">
                        Deletar
                      </button>
                      
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal-{{produto.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">{{produto.name}}</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <span class="text-alert">DESEJA DELETAR ESSE PRODUTO: {{produto.name}} ?</span>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                               <form action="{{url_for('deleteproduto', id=produto.id)}}" method="POST">
                              <button type="submit" class="btn btn-danger">Deletar</button>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>

{% endblock content %}