{% extends "layouts.html" %}

{% block content %}


<div class="container">
    {% from "_formularioajuda.html" import render_field %}
    <div class="row">
        
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <div class="text-center h1 text-success">Login</div> 
        {% include '_messages.html' %}   
<form method=post enctype="multipart/form-data">
    <div>

        {{ render_field(form.email, class="form-control") }}
        {{ render_field(form.password, class="form-control") }}
   
    </div>
    <p><input type="submit" value="Login" class="btn btn-success m-2"></p>
</form>
<div class="col-md-4"></div>
</div>
</div>
</div>




{% endblock content %}