{% extends "layouts.html" %}

{% block content %}

{% include '_messages.html' %}

<div class="container mt-3 ">
    <table class="table table-sm table-striped ">
        <thead>
            <th>Serial</th>
            <th>Nome</th>

            <th>Editar</th>
            <th>Deletar</th>
        </thead>
        <tbody> 
            {% if marcas %}
           {% for marca in marcas %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{marca.name}}</td>

                <td><a href="{{url_for('updatemarcas', id=marca.id)}}" class="btn btn-sm btn-outline-warning">Editar</a></td>
                <td><a href="" class="btn btn-sm btn-outline-danger">Deletar</a></td>
            </tr>
            {% endfor %}
            {% else %}
            {% for categoria in categorias %}
            <tr>
                <td>{{loop.index}}</td>
                <td>{{categoria.name}}</td>

                <td><a href="{{url_for('updatecats', id=categoria.id)}}" class="btn btn-sm btn-outline-warning">Editar</a></td>
                <td><a href="" class="btn btn-sm btn-outline-danger">Deletar</a></td>
            </tr>
            {% endfor %}

            {% endif %}


        </tbody>

    </table>
</div>

{% endblock content %}